/* Hacer que se distancien los elementos unos a otros */
.fila{
    display: flex;
    justify-content: space-around;
}

//Altura imagen DQ Servicios
.imagen-dq{
    height: 30vw;
    width: 85%;
  }


/* Centrado de elementos */
.centrado{
    text-align: center;
}

.imagen-helados{
    width: 40%;
  }


  .padding-parrafo{
    padding: 25px;
  }
  
  
.gap-top{
    padding-top: 50px;
  }