//Footer
@media screen and (max-width:800px){
  .footer .footer__grupo1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;        
    padding: 35px 0px;
    }
  }
//Testimonios
@media screen and (max-width:960px){
  .testimonios__interno--columna{
    flex: 100%;
    max-width: 100%;
    }
  }    

//Carousel
@media screen and (max-width:950px){
  .carousel__imagen{
    height: 65vw;
    }
    
  }     
//Productos novedosos
@media screen and (max-width:950px){
  .products{
    flex-direction: column;
  }
  //Grid Acerca-de
  .contenedor-grid{
    display: grid;
    grid-template-rows: repeat(5, 65vh);
    grid-template-columns: repeat(2, 6fr);
      
    grid-template-areas:
    'contenedor-grid__banner contenedor-grid__banner'
    'contenedor-grid__imagen-1 contenedor-grid__imagen-1'
    'contenedor-grid__imagen-2 contenedor-grid__imagen-2'
    'contenedor-grid__contacto contenedor-grid__contacto'
    'imagen-dudas contenedor-grid__dudas'
    }
  }
//Imagen Servicios
@media screen and (max-width:950px){
  .imagen-dq{
    height: 65vw;
    }
  }
