/*Centrar números de páginas */
.container-fila{
    display: $flx;
    justify-content: $cntr;
}
//Tamaño imagenes Productos
.altura-imagenes{
  @include sizes (200px, 200px);
  
  }
//Tamaño imagen producto
  .altura-producto{
    width: 30%;
  }

  //Productos Novedosos
  .products{
    display: $flx;
    justify-content: space-between;
    margin: 20px 40px 20px 40px;
    

    a{
        text-decoration: $no;
        color: black;
      }
  }

  //Gap números para pasar página
  .espaciado-paginas{
    gap: 10px;
    padding-top: 150px;
  }
  //Padding entre secciones
  .gap-grid{
    padding: 100px;
  }

.products__card{
 
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
}