/*Centrar números de páginas */
.fila-container{
    display: flex;
    justify-content: center;
}

.altura-imagenes{
    height: 200px;
    width: 200px;
 
  
  }

  .altura-tequeños{
    width: 30%;
  }

  
  .products{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 20px 40px;
    
    a{
        text-decoration: none;
        color: black;
      }
  }

  
  .gap-paginas{
    gap: 10px;
    padding-top: 150px;
  }

  .gap-lineas{
    padding: 100px;
  }
