//Altura, ancho y posición del Carousel
.carousel__imagen{
  @include sizes(85%, 30vw);
 @extend .carousel-control-prev-icon;
  }
  
//Posición del botón avanzar del Carousel
.carousel-control-next-icon{
  position: relative;
  right: 8vw;
  }

//Posición del botón retroceder del Carousel
.carousel-control-prev-icon{
  position: relative;
  left: 8vw;
  }