 
    .imagen{
        height: 30vw;
        width: 85%;
        position: relative;
        left: 8vw;
      }
  
      .carousel-control-next-icon{
        position: relative;
        right: 8vw;
      }
    
      .carousel-control-prev-icon{
        position: relative;
        left: 8vw;
      }