//Footer color y ancho
.footer{
    width: 100%;
    background-color: #ffffff;
    //Grid del footer
    .footer__grupo1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        //Colores y ancho con alto
        .footer__grupo1--caja{
            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 250px;
                }
            }

            h2{
                color: rgb(0, 0, 0);
                margin-bottom:  25px;
                font-size: 20px;
            }

            p{
                color: #a1a1a1;
                margin-bottom: 10px;
            }
        }   
        //Hover y iconos redes sociales
        .grupo1--caja--redes{

            a{
                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: #ffffff;
                margin-right: 10px;
                background-color: #0d2033;
                text-align: center;
                transition: all 300ms ease; 
            }

            a:hover{
                color: rgb(0, 89, 255);
            }
        }
      }
//Colores y pie de página con título
    .footer__grupo2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;

        small{
            font-size: 15px;
        }
      }
  }
 
  .padding-top-25{
    padding-top: 25px;
  }

