    /* Ubicación de el nav !!!  */
    nav {
        a{
          font-weight: 600;
          padding-right: 70px;
        }
      }

      .icono-navbar{
        width: 30px;
        height: 24px;
      }