/* Reset */
*{
    margin: 0;
    padding: 0;
}

/* Quitar puntos a las listas */
.row{
     a{
        text-decoration: none;
        color: black;
        }
    }

/* Quitar puntos a las listas */
ul {
    list-style: none;
    }
    